body {
  background-color: #2a2a2a;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  overflow: hidden;
  margin: 5px;
  max-height: 1000px;
  transition: max-height 0.3s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.card-info-data {
  font-size: 20px;
  word-wrap: break-word;
  max-width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

.card-info-data:hover {
  color: #c77a14;
}

.card-info-title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.card-title {
  color: #c77a14;
  font-size: 22px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.dashboard-card {
  background-color: #2a2a2a;
  padding: 0px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dashboard-content {
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.dashboard-title {
  color: #c77a14;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.top-nav {
  background-color: #2a2a2a;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 0px;
  box-sizing: border-box;
}

.battery-card {
  border: 3px solid #4caf50;
}
.load-card {
  border: 3px solid #2196f3;
}
.solar-card {
  border: 3px solid #ffc107;
}
.grid-card {
  border: 3px solid #bd0f0f;
}
.inverter-card {
  border: 3px solid #ff5722;
}
.system-card {
  border: 3px solid #3f51b5;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-card:not(.expanded) .card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 70px;
  }

  .dashboard-card.expanded .card-content {
    max-height: 1000px;
  }

  .dashboard-card:not(.expanded) .card-info:nth-child(n + 3) {
    display: none;
  }
}
